.sliderContainer {
    flex: 1;
    margin-right: 2rem;
    max-width: 600px; /* Set a maximum width for better alignment */
    width: 100%; /* Allow it to shrink */
    height: 100%; /* Make sure it takes full height of its parent */
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 10px;
    color: var(--textColor); /* Set text color */
}

@media (min-width: 1440px) {
    .bigContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .aboutMeText {
        margin-left: 8rem;
    }

    .infoContainer {
        width: 90%;
    }
}

.aboutMeText {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: larger;
}

span {
    font-weight: bold;
    /* color: var(--highlightText); */
}

.memojiContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; /* Adjust margin as needed */
}

.memojiImage {
    height: 5rem;
}

.greetBox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hand {
    animation: wave 3s infinite ease-in-out;
}

.aboutMeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    text-align: center;
    position: relative;
}

.aboutMeContent h1 {
    font-weight: normal;
}

.aboutMeContent a {
    color: var(--textColor);
}

.button {
    background: none;
    border: 1px solid var(--highlightText);
    border-radius: 5px;
    padding: 1rem 5rem;
    cursor: pointer;
    color: var(--textColor);
    font-weight: bolder;
    font-size: large;
    box-shadow: 0 8px  var(--highlightText);
    /* background-color: #8E44AD; */
    background: rgba( 144, 19, 254, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    background-size: 300% 300%;
    transition: .1s ease-in-out;

    position: relative;
    z-index: 1;
}

.button:active {
    transform: translateY(5px);
    /* transform: translateX(5px); */
    background: rgba( 144, 19, 254, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.button::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0;
    height: 50%;
    bottom: -50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: var(--mainBackgroundSection); */
    background-color: #fff;
    opacity: .3;
    transition: 1s ease-in-out;

    border-radius: 50%;
}

/* .button:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 0;
} */

@media (max-width: 768px) {
    .infoContainer {
        flex-direction: column;
        align-items: center;
    }

    .sliderContainer, .aboutMeText {
        width: 100%;
        margin: 1rem 0;
    }
}

/* TODO: FIX THE WIDTH OF THE ABOUTMETEXT */

/* @media (min-width: 1024px) {
    .bigContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .infoContainer {
        width: 70%;
    }
    
} */

@keyframes changeColor {
    0% {
        color: rgb(255, 179, 39);
    }
    100% {
        color: orange;
    }
}

@keyframes wave {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
}

.typing {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 2px solid #7E2EA0; */
    animation: typing 2s steps(17, end), cursor .2s steps(12, end) infinite, borderFade 100s forwards;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes cursor {
    50% { border-color: transparent; }
}