.mySwiper {
    width: 30vw;
    height: 50vh; /* Set a fixed height */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%; /* Full height for each slide */
}

.slideImage {
    border-radius: 10px; /* Rounded corners */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover to fill without distortion */
}

@media (max-width: 768px) {
    .mySwiper {
        width: 70vw;
    }
}