.hobbieContainer * {
  color: #fff;
}

.hobbieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: slide-in linear;
  animation-timeline: view();
  /* animation-range-start: 217px; */
  animation-range-end: 600px;
}

.aside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 100vw;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 5px;
  min-height: 200px;
  min-width: 300px; /* Adjusted to fit within the viewport */
  max-width: 500px; /* Added to ensure text wraps */
  padding: 1rem; /* Added padding for better spacing */
  overflow: hidden;
  text-align: center; /* Optional: to center align text */

  border-radius: 2%;
}

@media (max-width: 1024px) {
  .aside {
    grid-template-columns: 1fr;
  }
  .article {
    min-width: 80vw;
  }
}

@keyframes slide-in {
  0% {
    transform: translate(-500px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}